{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block content %}
{% if page.extra %}
    {% if page.extra.image %}
        {% if page.extra.image.style == "banner" %}
        <section class="hero">
            <figure class="image caption-container">
                <img class="img-captioned" src="{{ macros::webp(path = page.extra.image.path, page = page) }}">
                {% if page.extra.image.caption %}
                <p class="caption">{{ page.extra.image.caption }}</p>
                {% endif %}
            </figure>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns is-desktop">
                    <div class="column is-10 is-offset-3">
                        <div class="content">
                            {{ macros::post_header(post=page) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% elif page.extra.image.style == "figure" %}
        <div class="columns">
            <div class="column is-offset-1 is-10">
                <div class="columns">
                    <div class="column is-one-half content p-6">
                        {{ macros::post_header(post=page) }}
                    </div>
                    <div class="column is-one-half">
                        <figure class="media-right caption-container">
                            <img class="img-captioned" src="{{ macros::webp(path = page.extra.image.path, page = page) }}">
                            {% if page.extra.image.caption %}
                            <p class="caption">{{ page.extra.image.caption }}</p>
                            {% endif %}
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endif %}

<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-8-desktop is-offset-2-desktop is-12-tablet">
                <div class="content">
                    <div>
                        <h1> {{page.title}} </h1>
                    </div>
                    {% if page.extra %}

                    {% if page.extra.authors %}
                    <div>
                        {{ page.extra.authors | join(sep=", ") }}
                    </div>
                    {% endif %}

                    {% if page.extra.publication %}
                    <div>
                        {{ page.extra.publication }}
                        {% if page.extra.publication_location %}
                          {{ page.extra.publication_location }}
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if page.date %}
                    <div>
                        {{ page.date }}
                    </div>
                    {% elif page.extra.year %}
                    <div>
                        {{ page.extra.year }}
                    </div>
                    {% endif %}

                    {% if page.extra.abstract %}
                    <div>
                        <br/>
                        <h3>Abstract</h3>
                        {{ page.extra.abstract }}
                    </div>
                    {% endif %}

                    {% if page.extra.links %}
                    <div>
                        <br/>
                        {% for link in page.extra.links %}
                            {% if link.link is starting_with("http://") or link.link is starting_with("https://") %}
                            <a class="button mr-2 is-link is-outlined is-small" href="{{ link.link | safe }}"> {{link.name | safe }} </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if page.extra.toc %}
                    <h1>Table of contents</h1>
                    <ul>
                        {% for h1 in page.toc %}
                        <li>
                            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
                            {% if h1.children %}
                            <ul>
                                {% for h2 in h1.children %}
                                <li>
                                    <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endif %}
                    {{ page.content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
